params {
  inputPath = "/home/rdemko/workspace/djob/humann-nextflow/data/localFiles"
  downloadMethod = "local"
  resultDir = "/home/rdemko/workspace/djob/humann-nextflow/results"
  kneaddataCommand = "kneaddata --trimmomatic /usr/share/java -db /kneaddata_databases --bypass-trf"
  libraryLayout = "paired"
  humannCommand = "humann --diamond-options \" --block-size 1.0 --top 1 --outfmt 6\""
  unirefXX = "uniref90"
  functionalUnits = ["level4ec"]
}
process {
  container = 'test'
}
docker {
  enabled = true
  runOptions = "-v /home/rdemko/workspace/djob/humann-nextflow/data/databases/:/humann_databases -v /home/rdemko/workspace/djob/humann-nextflow/data/kneaddata/:/kneaddata_databases/ -v /home/rdemko/workspace/djob/humann-nextflow/data/meta31/:/usr/local/lib/python3.8/dist-packages/metaphlan/metaphlan_databases"
}