params {
  inputPath = "$baseDir/data/sample-to-fastqs.tsv"
  downloadMethod = "local"
  resultDir = "$baseDir/results"
  kneaddataCommand = "kneaddata --trimmomatic /usr/share/java --max-memory 3000m --bypass-trf"
  libraryLayout = "paired"
  humannCommand = "humann --diamond-options \" --block-size 1.0 --top 1 --outfmt 6\""
  unirefXX = "uniref90"
  functionalUnits = ["level4ec"]
}
process {
  withLabel: 'download_and_preprocess' {
    maxForks = 5
  }
  container = 'cache'
}
docker {
  enabled = true
}