params {
  inputPath = "$baseDir/data/localFiles"
  downloadMethod = "local"
  resultDir = "$baseDir/results"
  kneaddataCommand = "kneaddata --trimmomatic /usr/share/java --max-memory 3000m --bypass-trf"
  libraryLayout = "paired"
  humannCommand = "humann --diamond-options \" --block-size 1.0 --top 1 --outfmt 6\""
  unirefXX = "uniref90"
  functionalUnits = ["level4ec"]
}
process {
  withLabel: 'download_and_preprocess' {
    maxForks = 5
  }
  container = 'veupathdb/humann:latest'
}
docker {
  enabled = true
  runOptions = "-v $launchDir/data/databases/:/humann_databases -v $launchDir/data/kneaddata/:/kneaddata_databases -v $launchDir/data/meta31/:/usr/local/lib/python3.8/dist-packages/metaphlan/metaphlan_databases"
}